
body{
  background-color: #2B2F55;
  height: 100%;
}
.App{
  margin-right: auto;
  background-color: #2B2F55;

}
.someedit{
  background-color: #2B2F55;

}
.try{
  padding: 0%;
  margin: 0%;
}
/* .btn-secondary{
  color: #fff;
  background-color: #2B2F55;
  border-color: #6c757d;
  border-radius: 25%;
} */